<div class="container mt-4">
    <h2>Mis Calificaciones</h2>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h5>Promedio General</h5>
                    <h2 id="overallAverage">0.0</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-header">
            <h5>Calificaciones por Materia</h5>
        </div>
        <div class="card-body">
            <div id="gradesBySubject">
                <!-- Las calificaciones se cargan aquí -->
            </div>
        </div>
    </div>
</div>